<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.username %>,</h1>
    <p>Thank you for joining the Sockapolooza family. We look forward to your future sock purchases with us.</p>
    <p>Sincerely,</p>
    <p>The Sock Makers</p>
  </body>
</html>
