<% if !@ordering.nil? && @ordering.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @ordering.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @orderings.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @orderings.each do |order_item| %>
    <%= render 'carts/cart_row', product: ordering.product, ordering: ordering, show_total: true %>
  <% end %>
<% end %>
